*
	margin: 0
	padding: 0	
*, ::before, ::after
	box-sizing: border-box

@include font-face($font, "../fonts/Robotocondensedlight", 100)	
@include font-face($font, "../fonts/Robotocondensedregular", 400)	
@include font-face($font, "../fonts/Robotocondensedbold", 600)		

html
	overflow-x: hidden
body	
	font-size: 16px
	line-height: 1.25em
	// overflow-x: hidden
	*
		// outline: 1px solid #444

body,
input,
textarea,
button 
	font-family: $font, sans-serif

.container  
	position: relative
	min-width: 320px
	max-width: 1024px
	display: flex
	flex-direction: column	
	margin: 0 auto
	color: #222	
	// padding: 0 $gutter-container-320
.row	
	width: 100%

nav
	margin-bottom: 15px		


img
	width: 100%
a
	width: fit-content
	text-decoration: none
	// color: $color-main
	outline: transparent
	// +transition(color)

h1, h2, h3, h4, h5, h6
	line-height: inherit
	font-size: inherit
	// text-transform: uppercase
h2
	margin-bottom: 5px		

.list-reset
	display: flex
	list-style: none
.btn-reset
	border: none
	cursor: pointer
	background-color: transparent

  